<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Comments</title>
    <link rel="stylesheet" href='/media/assets/css/style.css' >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
    <h1 class="text-info" style="font-size:50px">YouTube Comments</h1>

{% comment %} 
    {% for comment, predictions in comments %}
    <div class="comment">
        <p>{{ comment }}</p>
        <ul>
            {% for label, prediction in predictions %}
                <li>{{ label }}: {{ prediction }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %} {% endcomment %}

  <form method="post" action="{% url 'display_comments' %}">
        {% csrf_token %}
        <label for="video_url">YouTube Video URL:</label>
        <input type="url" class="form-control" name="video_url" required>
        <button type="submit" class="btn btn-lg btn-warning">Fetch Comments</button>
    </form> 
   
    {% if video_id %}
        <h2>Video ID: {{ video_id }}</h2>
    {% endif %}

    {% if comments %}
        <h3>Comments</h3>
        <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment }}</strong>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No comments found.</p>
    {% endif %}




    <h2>Comments and Predictions</h2>
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Comment</th>
            
            <th>Labels['Toxic', 'Obscene', 'Insult']</th>
            
        </tr>
    </thead>
    <tbody>
        {% for comment, predictions in prediction_list %}
        <tr>
            <td>{{ comment.author }}</td>
            <td>{{ comment.text }}</td>
            {% for prediction in predictions %}
            <td>{{ prediction }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>



</body>
</html>





